@import url(//fonts.googleapis.com/css?family=Montserrat);

html {
  scroll-behavior: smooth;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.montserrat-spaced {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
}

#expquick {
    margin-bottom: 8em;
    margin-top: 5em;
}

img.grayscale {
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
    transition: 0.5s;
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

img.expquick {
  padding-right: 1em;
  
}

ul.horizontal-list li{
    display: inline;
}

li.horizontal-list {
    display: inline;
    float: left;
}

figure.exp-quick {
    margin-right: 5px;
    transition: 0.5s;
}

figure.exp-quick:hover {
    transform: translate(5px, -5px);
}

#fix_leidos_img {
  transform: translate(0, 10px);
}

.move {
  transform: 0.5s;
}

.move:hover {
  transform: translate(5px, -5px);
}

.section-header {
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.horizontal-center {
  display: flex;
  justify-content: center;
}

.i-space {
  margin-left: 1em;
  margin-right: 1em;
}

.fix-env {
  transform: translate(0, 3px);
}

a.no-dec {
  text-decoration: none;
  color:inherit;
}

.extra-margin-exp {
  margin-bottom: 5em;
}

.button-marg {
  margin: 1em;
}